extends layout.pug

block content
    div(class="flex")
        div(class="cm-card cm-text-center")
            h1(class="cm-card-header cm-text-bold") ⛔️ Oups... ⛔️
            p(class="cm-card-body cm-text-error")=message
            p(class="cm-card-footer cm-text-small") API réalisée par Jeanne Gardebois
